@using DataBaseMigrator.Models
@model EnterStatus
    @{
        ViewBag.Title = "Enter";
        Layout = "~/Views/Shared/_MainDesign.cshtml";
    }

    <form method="post" action="/Migrator/Enter" id="EnterIn">
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h5><strong>Дані входу для БД Джерела</strong></h5>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.ServerName1,new { @class= "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model=>model.ServerName1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.BDName1, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.BDName1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Login1, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Login1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Password1, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.Password1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5><strong>Дані входу для БД Одержувача</strong></h5>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.ServerName2, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.ServerName2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.BDName2, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.BDName2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Login2, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Login2, new { @class = "form-control" })
                            </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Password2, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.Password2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
<script type="text/javascript">
    $(document).ready(function () {
        $('#EnterIn').submit(function (event) {
            debugger;
            event.preventDefault();
            $('div[class="alert alert-danger"]').remove();
            var validate = $(this).serializeArray();
            var status = true;
            for (var i = 0; i < validate.length; i++)
            {
                if (validate[i].value == "")
                {
                    status = false;
                    $('input[name=' + validate[i].name + ']').after('<div class="alert alert-danger">'
                        + $('label[for=' + validate[i].name + ']').html() + ' - должно быть заполнено ' + '</div>');
                }
            }
            if (status) {
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: validate,
                    dataType: "json",
                    error: function (xhr)
                    {
                        alert(xhr.responseText);
                    },
                    success: function (data)
                    {
                        if (data.hasOwnProperty('url')) {
                            $(location).attr('href', data.url);
                        }
                        else {
                            alert(data);
                        }
                    }
                });
            }
        }
        );
    });
</script>
